.BreadBottom {
  height: 18%;
  width: 90%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 10px 10px 100px 100px;
  box-shadow: inset -15px 0 #f08e4a;
  margin: -2% auto;
}

.BreadTop {
  height: 18%;
  width: 90%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 100px 100px 10px 10px;
  box-shadow: inset -15px 0 #f08e4a;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: -2%;
  position: relative;
}

.Mayonnaise {
  width: 90%;
  height: 5%;
  margin: 1% auto;
  background: linear-gradient(#ffffff, #ffffff);
  border-radius: 20px;
}

.Ketchup {
  width: 90%;
  height: 5%;
  margin: 1% auto;
  background: linear-gradient(#ff0000, #810000);
  border-radius: 20px;
}

.Mustard {
  width: 90%;
  height: 5%;
  background: linear-gradient(yellow, yellow);
  margin: 1% auto;
  border-radius: 20px;
}
.Cheese {
  width: 90%;
  height: 5%;
  background: linear-gradient(#ff7b00, #ff7b00);
  margin: 1% auto;
  border-radius: 20px;
}
