.BreadBottom {
  height: 13%;
  width: 90%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 10px 10px 30px 30px;
  box-shadow: inset -15px 0 #f08e4a;
  margin: 2% auto;
}

.BreadTop {
  height: 13%;
  width: 90%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 30px 30px 10px 10px;
  box-shadow: inset -15px 0 #f08e4a;
  margin: 2% auto;
  position: relative;
}

.HotdogMeat {
  width: 90%;
  height: 11%;
  background: linear-gradient(#f13b2aca, #f13a2a);
  margin: 2% auto;
  border-radius: 30px;
}

.Mayonnaise {
  width: 90%;
  height: 2%;
  margin: 2% auto;
  background: linear-gradient(#ececec, #ececec);
  border-radius: 20px;
}

.ketchup {
  width: 85%;
  height: 2%;
  margin: 2% auto;
  background: linear-gradient(red, red);
  border-radius: 20px;
}

.Mustard {
  width: 80%;
  height: 2%;
  background: linear-gradient(yellow, yellow);
  margin: 2% auto;
  border-radius: 20px;
}
.Cheese {
  width: 80%;
  height: 2%;
  background: linear-gradient(black, black);
  margin: 2% auto;
  border-radius: 20px;
}
