.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #dd3b13;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #808080;
  border: 1px solid #808080;
  color: #000000;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #808080;
  color: #000000;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #faba18;
  color: #000000;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #ffff00;
  color: #000000;
}

.BuildControl .Extra {
  background-color: #faba18;
  color: #000000;
}

.BuildControl .Extra:hover,
.BuildControl .Extra:active {
  background-color: #ffff00;
  color: #000000;
}
