.Container {
  height: 367px;
  /* overflow: scroll; */
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  background-color: rgba(199, 196, 196, 0.466);
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 96px;
}
.Hotdog {
  width: 100%;
  margin: auto;
  height: 500px;
  /* overflow: scroll; */
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
}
.HotdogMeat {
  width: 100%;
  height: 20%;
  background: linear-gradient(#f13b2aca, #f13a2a);
  margin: 2% auto;
  padding-top: 8px;
  border-radius: 100px;
}

@media (min-width: 500px) and (min-height: 100px) {
  .Hotdog {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Hotdog {
    width: 450px;
    height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Hotdog {
    width: 700px;
    height: 600px;
  }
}
